body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  overflow-x: auto;
  padding: 25px;
  line-height: 1.5em;
  /* min-height: 100vh; */
}

.row {
  margin-left: 0;
  overflow-x: auto;
  min-height: 80vh;
  /* height: 100%; */
}

.sidebar-container {
  min-height: 90vh;
  /* height: 100%; */
  /* background-color: lightgray; */
  /* border: lightgray; */
}

.sidebar {
  width: 175px;
}

.sidebar-link {
  padding: 10px;
  margin-left: 10px;
}

.sidebar-link:hover {
  border-right: 5px solid dimgray;
  background-color: gainsboro;
}

.sidebarbtn {
  text-decoration: none;
  color: black;
}
.sidebarbtn:hover {
  text-decoration: none;
  color: black;
}

#dropdownMenuButton {
  border: none;
  padding-right: 10px !important;
  width: 145px !important;
  text-align: left !important;
}

#dropdownMenuButton:hover {
  border-right: 5px solid dimgray !important;
  background-color: gainsboro !important; 
  padding-right: 10px !important;
  width: 145px !important;
  text-align: left !important;
}

.app-side {
  display: flex;
}

.form-group {
  padding: 2px;
}

.navbar-menu {
 float: right !important;
}


